$general-with: 100%;
$color-general-li: rgb(75, 0, 145);
$color-general-li-hover: rgb(33, 0, 65);

ul{
    width: $general-with;
    min-height: 100px;
    margin-top: 200px;
  }
  
  li{
    width: $general-with;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: $color-general-li;
    margin-top: 5px;
  }
  
  li:hover{
    background-color: $color-general-li-hover;
    transition: 0.5s;
  }