.App {
    display: flex;
    flex-direction: row-reverse;
}

h2,
h3 {
    color: #000000;
    letter-spacing: -1px;
    font-weight: 900;
    color: #000;
}

aside {
    width: 85%;
    min-height: 937px;
    background-color: aliceblue;
}

nav {
    width: 15%;
    min-height: 937px;
    background-color: rgb(190, 1, 143);
    border-right: 3px;
    border-left: 0px;
    border-bottom: 0;
    border-top: 0;
    border-color: #000;
    border-style: solid;
}

section {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.area {
    color: #000;
    display: flex;
    flex-direction: column;
}


textarea {
    width: 600px;
    height: 350px;
    font-size: 12pt;
    scrollbar-width: thin;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: gold;
    border: 3px solid #000;
    box-shadow: 5px 5px 0px 0px #000;
}

.button {
    height: 150px;
}

button {
    width: calc(100% / 2);
    height: 50px;
    cursor: pointer;
    background-color: rgb(190, 1, 143);
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 15pt;
    border-radius: 10px;
    font-weight: 900;
    border: 3px solid #000;
    box-shadow: 5px 5px 0px 0px #000;
}

button:hover {
    background-color: rgb(75, 0, 145);
    transition: 0.3s;
    color: #fff;
}

button:active {
    transition: 0s;
    background-color: #fff;
    color: #000;
}

.result {
    width: 80%;
    height: 150px;
    background-color: #00ee6b;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #000;
    box-shadow: 5px 5px 0px 0px #000;
}

div {
    width: 100%;
    min-height: 150px;
    color: #fff;
}

.score {
    width: 250px;
    color: darkgreen;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aprovacao {
    width: 350px;
    color: darkgreen;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    padding: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}