h2,
h3 {
    color: #7c7c7c;
}

aside {
    width: 85%;
    min-height: 935px;
    background-color: aliceblue;
}

nav {
    width: 15%;
    min-height: 935px;
    background-color: rgb(174, 99, 243);
}

section {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.area {
    color: #000;
    display: flex;
    flex-direction: column;
}


textarea {
    width: 600px;
    height: 350px;
    font-size: 12pt;
    overflow: scroll;
    scrollbar-width: thin;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px 1px #bebebe;
}

.button {
    height: 150px;
}

button {
    width: calc(100% / 2);
    height: 50px;
    cursor: pointer;
    background-color: rgb(174, 99, 243);
    color: #fff;
    border: none;
    outline: none;
    font-size: 15pt;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px #bebebe;
}

button:hover {
    background-color: rgb(75, 0, 145);
    transition: 0.3s;
    color: #fff;
}

button:active {
    transition: 0s;
    background-color: #fff;
    color: #000;
}

.result {
    width: 80%;
    height: 150px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px #bebebe;
}

div {
    width: 100%;
    min-height: 150px;
    color: #fff;
}

.score {
    width: 250px;
    color: darkgreen;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aprovacao {
    width: 350px;
    color: darkgreen;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    padding: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

ul {
    width: 100%;
    min-height: 100px;
    margin-top: 200px;
}

li {
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(75, 0, 145);
    margin-top: 5px;
}

li:hover {
    background-color: rgb(33, 0, 65);
    transition: 0.5s;
}