.load {
    width: 100%;
    min-height: calc(950px);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}